{% extends 'header.html' %}
{% block body %}
<body>
	<div class="container">
		<br>
		<br>
		<h4>Checkout details </h4>
		<br>
		{% from "form_helper.html" import render_field  %}
		<form method="POST" action="">
			<dl>
				{{ render_field ( form.fullname    )}}
				{{ render_field ( form.fulladdress )}}
				{{ render_field ( form.phone   	   )}}
				{{ render_field ( form.city 	   )}}
			</dl>
			<p><input class="btn btn-default" type="submit" value="Register"></p>
		</form>
		{% if error %}
			<p class="error"><strong>Error:</strong>{{ error }}</p>
		{% endif %}
	</div>
</body>
<script>
    
</script>
{% endblock %}